{% extends 'back.html.twig' %}

{% block content %}
    <h1>Edition Article</h1>

    {{ form_start(edit_form) }}
        <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                {{ form_row(edit_form.title,{'attr':{'class':'form-control'}}) }}
            </div>
             <div class="form-group">
                {{ form_row(edit_form.description,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(edit_form.body,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(edit_form.slug,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(edit_form.categoryes ,{'attr':{'class':'form-control'}}) }}
            </div>

        </div>

        <div class="col-md-4">
              <div class="form-group">
                {{ form_row(edit_form.datepublish,{'attr':{'class':'form-control'}}) }}
            </div>
            <input class="btn btn-primary" type="submit" value="Editer" />
            <a class="btn btn-secondary" href="{{ path('admin_post_index') }}">Retour</a>
        </div>
    </div>
    {{ form_end(edit_form) }}

   
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
    
{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
  <li class="breadcrumb-item "><a href="#">Liste Article</a></li>
  <li class="breadcrumb-item active">Edition Article</li>
</ol>

{% endblock %}
