{% extends 'back.html.twig' %}

{% block content %}
    <h1>Liste Article</h1>
 <div align="right"> <a class="btn btn-info" href="{{ path('admin_post_new') }}" ><i class="fa fa-plus"></i>  Nouveau Article</a></div>

<br>
 
<div class="row">
   {% for post in posts %}
   <div class="card col-sm-6 col-md-4">
  <h3 class="card-header">{{ post.title }}</h3>
  <div class="card-body">
   
  </div>
  <img style="height: 200px; width: 100%; display: block;" src="{{ asset('uploads/posts/'~ post.image) }}" alt="Card image">
  <div class="card-body">
    <p class="card-text">{{ post.description }}</p>
  </div>
  
  <div class="card-body">
    <a href="{{ path('admin_post_show', { 'id': post.id }) }}" class="card-link btn btn-primary">Detaille</a>
    <a href="{{ path('admin_post_edit', { 'id': post.id }) }}" class="card-link btn btn-default">Editer</a>
  </div>
  
</div>
<br>
{% endfor %}  
</div>
    
{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
  <li class="breadcrumb-item active">Liste des Article</li>
</ol>

{% endblock %}