{% extends 'back.html.twig' %}

{% block content %}
    <h1>Liste Article</h1>
 <div align="right"> <a class="btn btn-info" href="{{ path('admin_post_new') }}" ><i class="fa fa-plus"></i>  Nouveau Article</a></div>
 <br>




 <div class="row">
    {% for post in posts %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ asset('uploads/posts/'~ post.image) }}" alt="...">
      <div class="caption">
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        <p><a href="href="{{ path('admin_post_show', { 'id': post.id }) }}"" class="btn btn-primary" role="button">Afficher</a> 
            <a href=""{{ path('admin_post_edit', { 'id': post.id }) }}"" class="btn btn-default" role="button">Editer</a></p>
      </div>
    </div>
  </div>

    
   {% endfor %}      
            
   </div>        
    
{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
  <li class="breadcrumb-item active">Liste des Article</li>
</ol>

{% endblock %}